<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EL MEJOR GRUPO</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header">
        <span id="open-btn">&#9776;</span>
        <span>Parcial Oemig</span>
    </div>
    <div id="sidemenu" class="sidemenu">
        <a href="javascript:void(0)" id="close-btn">&times;</a>
        <a href="{{ url_for('home') }}"><i class='bx bx-home'></i>Inicio</a>
        <a href="{{ url_for('orders') }}"><i class='bx bx-search'></i>Ordenes</a>
        <a href="{{ url_for('customers') }}"><i class='bx bx-user'></i>Clientes</a>

        <!--<ul class="submenu oculto" id="adminMenu">
            <li><a href="{{ url_for('orders') }}">Administrar Órdenes</a></li>
            <li><a href="{{ url_for('customers') }}">Administrar Clientes</a></li>
        </ul>-->
        
    </div>
    <div class="main">
        <h1>Órdenes de Clientes Activos</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Cliente</th>
                    <th>Producto</th>
                    <th>Fecha de Orden</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.customer.name }}</td>
                    <td>{{ order.product }}</td>
                    <td>{{ order.order_date.strftime('%Y-%m-%d') }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
